Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/
BuildArtifacts/*
BuildArtifacts/_PublishedWebsites/DentistApp.MvcApplication/Content/themes/base/images/ui-bg_flat_0_aaaaaa_40x100.png
BuildArtifacts/_PublishedWebsites/DentistApp.MvcApplication/Content/themes/base/images/ui-bg_flat_75_ffffff_40x100.png
BuildArtifacts/_PublishedWebsites/DentistApp.MvcApplication/Content/themes/base/images/ui-bg_glass_55_fbf9ee_1x400.png
BuildArtifacts/_PublishedWebsites/DentistApp.MvcApplication/Content/themes/base/images/ui-bg_glass_65_ffffff_1x400.png
BuildArtifacts/_PublishedWebsites/DentistApp.MvcApplication/Content/themes/base/images/ui-bg_glass_75_dadada_1x400.png
BuildArtifacts/_PublishedWebsites/DentistApp.MvcApplication/Content/themes/base/images/ui-bg_glass_75_e6e6e6_1x400.png
BuildArtifacts/_PublishedWebsites/DentistApp.MvcApplication/Content/themes/base/images/ui-bg_glass_95_fef1ec_1x400.png
BuildArtifacts/_PublishedWebsites/DentistApp.MvcApplication/Content/themes/base/images/ui-bg_highlight-soft_75_cccccc_1x100.png
BuildArtifacts/_PublishedWebsites/DentistApp.MvcApplication/Content/themes/base/images/ui-icons_222222_256x240.png
